/*  */
form {
    font-size: 20px;
    width: 600px;
}
input[type="text"],
select,
button {
    font-size: 15px;
    padding: 10px 20px;
}
table {
    margin: 40px 0px;
    font-size: 20px;
    border-collapse: collapse;
}

table,
td,
th {
    border: 2px solid black;
    padding: 3px;
}
