* {
    margin: 0;
}

.header {
    background-color: rgb(25, 150, 108);
    color: white;
    padding: 45px;
    text-align: center;
}
.header h4 {
    text-align: right;
}
.section {
    margin: 45px;
    width: 400px;
    display: block;
    justify-content: space-between;
}
